#ava {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #ava:hover {
    transform: scaleX(-1);
  }