ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
  }
  
  li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 16px;
  }
  
  ul li:hover {
    background-color: #eee;
  }